input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:caps_toggle"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }

        // Enable numlock on startup, omitting this setting disables it.
        // numlock
    }

    mouse {
      accel-speed -0.5
    }

    touchpad {
        off
    }

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}

gestures {
    hot-corners {
        off
    }
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1
    transform "normal"
    // position x=1280 y=0
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 12

    // When to center a column when changing focs, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.3333333
        proportion 0.5
        proportion 1.0
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.


    focus-ring {
        off
    }

    border {
        width 4
        active-color "#bd5eff"
        inactive-color "#3c4048"
        urgent-color "#ff6e5e"

        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}

// spawn-at-startup "waybar"
spawn-at-startup "copyq"
spawn-at-startup "swaync" // TODO configure
spawn-sh-at-startup "mpvpaper -o 'loop-file --demuxer-max-bytes=10M' ALL ~/Videos/hyperspeed_compressed.mp4"
                 // "swaybg -i ~/Pictures/hyperspeed.png"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"copyq$"#
    open-floating true
    default-floating-position x=0 y=300 relative-to="bottom"
    default-column-width { fixed 400; }
    default-window-height { fixed 600; }
}

window-rule {
    // open-maximized-to-edges true
    draw-border-with-background false
    geometry-corner-radius 6
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Ctrl+Alt+T hotkey-overlay-title="Open terminal" { spawn "ghostty"; }
    Ctrl+Alt+D hotkey-overlay-title="Open Discord" { spawn "vesktop"; }
    Ctrl+Alt+S hotkey-overlay-title="Open Steam" { spawn "steam"; }
    Ctrl+Alt+F hotkey-overlay-title="Open Firefox" { spawn "firefox"; }
    Ctrl+Alt+Z hotkey-overlay-title="Open Zed" { spawn "zeditor"; }
    Mod+E hotkey-overlay-title="Open file manager" { spawn "thunar"; }
    Mod+V hotkey-overlay-title="Open clipboard" { spawn-sh "copyq toggle"; }
    Mod+F2 hotkey-overlay-title="Open app launcher" { spawn "anyrun"; }
    Mod+L hotkey-overlay-title="Lock the screen" { spawn "swaylock"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    Mod+F repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }
    Mod+F4 repeat=false { close-window; } // should kill instead

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Page_Up { fullscreen-window; }
    // Mod+Page_Down { minimize-window;}

    Mod+W { focus-window-or-workspace-up; }
    Mod+A { focus-column-left; }
    Mod+S { focus-window-or-workspace-down; }
    Mod+D { focus-column-right; }

    Mod+Ctrl+W     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+A  { consume-or-expel-window-left; }
    Mod+Ctrl+S     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+D { consume-or-expel-window-right; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown            cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp              cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-column-left; }

    Mod+Ctrl+WheelScrollDown       cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp         cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   cooldown-ms=150 { move-column-left; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+F1 { switch-focus-between-floating-and-tiling; }
    Mod+Shift+F1       { toggle-window-floating; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+F3 { toggle-column-tabbed-display; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Page_Down { expand-column-to-available-width; }

    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }

    // Print { screenshot; }
    Print { spawn-sh "flameshot gui -r | wl-copy";  }
    Mod+Shift+S { spawn-sh "flameshot gui -r -s | wl-copy"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+P { power-off-monitors; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
}

environment {

    QT_QPA_PLATFORMTHEME "qt6ct"
    // TODO GTK theme
}

recent-windows {
  off
}

cursor {
    xcursor-theme "Sweet-cursors"
}
